# Storage Node 1 configuration for Laptop B
PORT=5001
NODE_ID=storage-node-1

# IMPORTANT: Replace <LAPTOP_B_IP> with the actual LAN IP of this machine (Laptop B)
# This is how the Gateway and Node 2 will reach this node.
SELF_URL=http://<LAPTOP_B_IP>:5001

# Cloud MongoDB (use a distinct database name for this node)
MONGO_URI=mongodb+srv://sakshyamkataria:Sakshyam123!@cluster0.utwe9.mongodb.net/storage-node-1-db

# Cloud Redis (Must be the exact same Redis URL as the gateway)
REDIS_URL=redis://default:or7PqyAgKlf30MMIAi8TeYa7eeEnITLu@fact-coherent-champagne-12103.db.redis.io:11543
