# ==========================================
# DistriDoc: Unified Environment Configuration
# ==========================================

# ------------------------------------------
# Distributed Security & Auth
# ------------------------------------------
# Used by Gateway for user authentication
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d

# Zero-Trust Network Secret (MUST be the same across all nodes)
SERVICE_SECRET=distridoc-internal-secret-2026

# ------------------------------------------
# EventBus (Redis)
# ------------------------------------------
# Shared Redis instance for Heartbeats & Real-time Pub/Sub
REDIS_URL=redis://default:password@host:port

# ------------------------------------------
# Databases (MongoDB Shards)
# ------------------------------------------
# Gateway (Stores Users, Roles, Audit Logs, Node Registry)
MONGO_URI_GATEWAY=mongodb+srv://username:password@cluster/student-doc-repo

# Storage Node 1 (Stores metadata for files on Node 1)
MONGO_URI_NODE1=mongodb+srv://username:password@cluster/storage-node-1-db

# Storage Node 2 (Stores metadata for files on Node 2)
MONGO_URI_NODE2=mongodb+srv://username:password@cluster/storage-node-2-db
